asgiref==3.7.2
crispy-bootstrap4==2023.1
Django==4.2.6
django-bona-blog==1.1.4
django-ckeditor==6.7.0
django-crispy-forms==2.1
django-debug-toolbar==4.2.0
django-filter==23.3
django-js-asset==2.1.0
django-taggit==4.0.0
django-tinymce4-lite==1.8.0
djangorestframework==3.14.0
jsmin==3.0.1
model-mommy==2.0.0
Pillow==10.1.0
pytz==2023.3.post1
six==1.16.0
sqlparse==0.4.4
